<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css"> 
  <title>Mars Attack</title>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  </div>

  <div class="container">
    <div class=row>
        <div class="col-md-12">
            <div class="box">
                <h2>Latest Mars News</h2>
                <h3>Title goes here</h3>
                <p> News text goes here</p>
            </div>
        </div>
    </div>

    <div class=row>
      <div class="col-md-8">
        <div class="box">
          <h2>Featured Mars Image</h2>
            <img width=700px src="../motocyclette.jpg" alt="motocyclette">
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
            <h3>Current weather in Mars</h3>
            <p>Here goes the weather text</p>
        </div>
        <div class="box">
            <h3>Mars fun facts</h3>
            <p>Here goes the table</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box">
            <h2>Mars hemispheres</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-body">
                  <img width=400px src="../motocyclette.jpg" alt="motocyclette">
              </div>
              <div class="panel-footer">
                  <h4 class="pfooter">
                      Title 1
                  </h4>
              </div>
            </div>              
      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-body">
                  <img width=400px src="../motocyclette.jpg" alt="motocyclette">
              </div>
              <div class="panel-footer">
                  <h4 class="pfooter">
                      Title 1
                  </h4>
              </div>
            </div>    
      </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img width=400px src="../motocyclette.jpg" alt="motocyclette">
                </div>
                <div class="panel-footer">
                    <h4 class="pfooter">
                        Title 1
                    </h4>
                </div>
              </div>    
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img width=400px src="../motocyclette.jpg" alt="motocyclette">
                </div>
                <div class="panel-footer">
                    <h4 class="pfooter">
                        Title 1
                    </h4>
                </div>
              </div>    
        </div>
    </div>


  </div>

</body>

</html>
